{{! Template Syntax https://handlebarsjs.com/guide/ }}
<!DOCTYPE html>
<html lang="zh" class="theme-auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="次世代的跑团（TRPG）工具" />
    {{{ htmlWebpackPlugin.tags.headTags }}}
    <title>菠萝</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    {{{ htmlWebpackPlugin.tags.bodyTags }}}
  </body>
</html>
